---
import { Image } from 'astro:assets';
interface Props {
  image: ImageMetadata;
  title: string;
  text: string;
}

const { title, text, image } = Astro.props;
---

<div class="text-center mb-14 md:mb-0">
  <Image
    class="mx-auto mb-4 size-[60px] object-contain"
    src={image}
    alt={title}
  />

  <div>
    <h2 class="text-xl font-700 mb-2">{title}</h2>
    <p>
      {text}
    </p>
  </div>
</div>
